.transactionsListContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    border: 1px solid cadetblue;
    margin-bottom: 5%;
}

.transactionLine{
    display: flex;
    padding: 5px;
    margin-bottom: 5px;
    width:75%;
    justify-content: center;
}

.button-input{
    background-color: cadetblue;
    color: dimgray;
    width: 75%;
    margin-top: 20px;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-radius: 5px;
    border: transparent;
    margin: 10px;
    color:dimgray;
}

