* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #f0f2f5;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

.left .right, form{
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}

.left{
    width: 500px;
    align-items: flex-start;
}

.left  img{
    height: 106px;
}

.left p{
    font-size: 30px;
    color: #1c1e21;
    height: 200px;
    font-family:'Roboto Condensed', sans-serif;
    position: relative;
    left: 27px;
}

.right{
    width: 400px;
}

form{
    background-color: #fff;
    border-radius: 10px;
    width: 400px;
    display: flex;
    padding: 20px;
    margin-bottom: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

form input{
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #999;
    outline: none;
    font-size: 16px;
}

.loginBtn{
    background-color: #1877f2;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-family: 'Arial';
    font-weight: 700;
    transition:0.5s;
}

.loginBtn:hover{
    background-color: #4257b2;
}

.forget{
    margin:15px 0;
    text-decoration: none;
    color:#1877f2;
    font-family: "Arial";
    font-size: 14px;
}

.sign-up{
    padding-top: 20px;
    border-top: 1px solid #999;
    width: 100%;
    display: flex;
    justify-content: center;
}

.signupBtn{
    background-color: #42b72a;
    padding:15px ;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    color: #fff;
    font-size: 17px;
    font-family: 'Arial';
    font-weight:600;
    transition:0.5s;
}

.signupBtn:hover{
    background-color: green;
}

.right p{
    font-family: 'Arial';
    font-size: 15px;
}

@media(max-width:950px){
    .container{
        flex-direction: column;
    }

    .left{
        width: 400px;
        align-content: center;
        align-items: center;
    }

    .left p{
        height: 75px;
        font-size: 24px;
    }
}

@media(max-width:500px){
    form{
        width:350px;
        align-content: center;
        align-items: center;
    }
}

@media(max-width:300px){
    .left img{
        height: 95px;
    }

    form{
        width: 250px;
        align-content: center;
        align-items: center;
        position: relative;
        top: -65px;
    }

    .left p,.right p{
        display: none;
    }

    form input, .forget, .loginBtn, .signupBtn{
        font-size: 12px;
    }
}





