* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size:14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.phone img{
    height: 50rem;
}

.continue {
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.continue__group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color:white;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid lightgray;

}

.continue__group:nth-child(1){
    min-height: 19rem;
}

.continue__instagram-logo {
    height: 3rem;
}

.continue__profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.continue__profile-photo img{
    height: 6rem;
}