<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem vindo!</title>
</head>
<body> 
    <div th:if="${param.error}">
        Usuário ou senha inválido.
    </div>

    <div th:if="${param.logout}">
        Sua sessão foi encerrada.
    </div>

    <form th:action="@{/login}" method="post">

        <div>
            <label for="login">Usuário:</label>
            <input type="text" name="username">
        </div>

        <div>
            <label for="login">Senha:</label>
            <input type="password" name="password">
        </div>

        <div>
            <input type="submit" value="Entrar">
        </div>

    </form>

</body>
</html>