* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color:cadetblue
}

body {
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
background-color: aliceblue;
}

.container{
padding: 15px;
display: flex;
flex-direction: column;
align-content: center;
background-color: cadetblue;
width: 25%;
border-radius: 15px;
border: 10px white;
margin: 15px
}

input{
padding: 15px;
margin: 10px;
border-radius: 15px;
border: transparent;
background-color: cornsilk;
}

.resposta{
color: cornsilk;
padding: 15px;
}

.erro_cep{
color: cornsilk;
padding: 15px;
background-color: cadetblue;
border-radius: 15px;
}