th{
    padding: 10px 10px 10px;
}

tr{
    padding: 10px 10px 10px;
    margin-right: 50px;
    margin-left: 50px;
    td{
        padding: 10px 10px 10px;
        text-align: center;
        border-top: 1px solid lightblue 
    }
}